$violet_base: #6F73EE;
$violet_hover: #8185F9;
$blue_base: #F4F7FB;
$grey_base: #F4f7fb;
$text_color: #5D6C7B;
$black_base: #282739;
$red_base: #EE685F;
$header_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

@mixin btn($color, $text-color, $color-click: $text-color){
    border-radius: 15px;
    border: 3px solid $color;
    background: $color;
    color: $text-color;
    letter-spacing: 0em;
    text-align: center;
    transition: $header_transition;
    &:hover, &:active{
        background: $color_click;
        border: 3px solid $color_click;
        @if($color-click == $text-color){
            color: $color;
        }
        @else{
            color: $text-color;
        }
    }
}
