@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Corbel';
  src: url("../fonts/corbel.ttf");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Corbel';
  src: url("../fonts/corbel-bold.ttf");
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Corbel';
  src: url("../fonts/corbel-bold-italic.ttf");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Corbel';
  src: url("../fonts/corbel-italic.ttf");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Corbel';
  src: url("../fonts/corbel-light.ttf");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'Corbel';
  src: url("../fonts/corbel-light-italic.ttf");
}


