$my_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
html.overflow-y-hidden{
    overflow-y: hidden!important;
}
.header{
    max-width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #6a3e31;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Corbel', sans-serif;
    color: #ffffff;
    *:focus{
        outline: none;
    }
    a:hover {
        text-decoration: none;
    }
    .header-row{
        margin: 0 -15px 0 -15px;
        max-width: 1440px;
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 25px;
        flex: 1 1 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        .header-left{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header-logo{
                width: 200px;
                height: 70px;
                background-size: contain;
            }
        }
        .header-right{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .header-card-icon{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: nowrap;
                flex-direction: row;
                cursor: pointer;
            }
            .header-card-icon .header-card-circle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: white;
                color: #6a3e31;
                margin-left: 5px;
                border-radius: 15px;
                font-size: 16px;
                font-family: 'Corbel';
                font-style: italic;
                font-weight: 700;
            }
        }
        .header-middle{
            display: flex;
            justify-content: center;
            align-items: center;
            .header-buttons{
                display: flex;
                align-items: center;
                button{
                    background-color: rgba(255, 255, 255, 0);
                    font-weight: 400;
                    transition: $my_transition;
                    font-family: 'Corbel';
                    font-style: italic;
                    text-transform: lowercase;
                    font-size: 18px;
                    height: 30px!important;
                }
                .v-btn--active{
                    font-weight: 700;
                    background-color: rgba(255, 255, 255, 0) !important;
                    color: white !important;
                    .v-btn__overlay{
                        display: none;
                    }
                }
            }
            .button-small-screen{
                display: none;
                font-family: 'Corbel';
                font-style: italic;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 1.5px
            }
        }
    }
}

@media(max-width: 1024px){
    .header .header-row .header-middle .button-large-screen{
        display: none;
    }
    .header .header-row .header-middle .button-small-screen{
        display: block;
    }
    .header .header-row .header-left .header-logo{
        height: 50px;
    }
}
@media(max-width: 768px){
    .header{
        height: 120px;
        .header-row{
            height: 70%;
            justify-content: space-between;
            .header-left, .header-right{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .header-middle{
                position: absolute;
                bottom: 15px;
                right: 0;
                transform: translateX(-35%);
                .button-small-screen{
                    max-width: 300px;
                }
            }
            .header-right{
                justify-content: space-evenly;
            }
        }
    }
}
@media(max-width: 425px){
    .card-pagination{
        display: none;
    }
}
.shopping-card-dialog{
    .shopping-card-dialog-header{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 25px;
        position: relative;
    }
    .shopping-card-dialog-divider{
        background-color: black;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .shopping-card-dialog-divider-down{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .shopping-card-dialog-body{
        .shopping-card-item{
            .shopping-card-item-left{
                display: flex;
                align-items: center;
                justify-content: start;
            }
            .shopping-card-item-right{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .shopping-card-item-title{

            }
            .shopping-card-item-count{

            }
            .shopping-card-item-price{

            }
        }
        .shopping-card-dialog-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            .shopping-card-itogo-text{
                font-size: 20px;
            }
        }
    }
    .shopping-card-dialog-actions{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: end;
    }
}

