$my_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
.body-section{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 130px;
    background-attachment: fixed;
    .body-content{
        width: 100%;
    }
    .card-container{
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1024px){
    .body-section .card-container{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px){
    .body-section .card-container{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.product-card-dialog{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 300px;
    .card-dialog-image-preview{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid #df7a02;
    }
    .card-dialog-title{
        margin: 5px 0;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-dialog-description{
        width: 100%;
        padding: 5px;
        font-size: 14px;
    }
    .card-dialog-price, .card-dialog-count, .card-dialog-article{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.product-card{
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 300px;
    height: 475px;
    transition: $my_transition;
    color: white;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    &:hover{

    }
    .card-background{
        position: absolute;
        top:0;
        left: 0;
        background-color: rgba(106, 62, 49, 0.75);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .card-layer{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .card-image-preview, .card-title, .card-description, .card-price, .card-count, .card-slider, .card-button{
        z-index: 2;
    }
    .card-image-preview{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #6a3e31;
    }
    .card-title{
        margin: 5px 0;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-description{
        width: 100%;
        padding: 5px;
        height: 50px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-price, .card-count{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5px;
        *{
            font-weight: 700;
        }
    }
    .card-slider{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 178px;
        height: 43px;
        gap: 10px;
        padding: 8px;
        user-select: none;
        border-radius: 10px;
        margin-bottom: 5px;
        .card-slider-remove, .card-slider-add{
            cursor: pointer;
            i{
                font-size: 1.5em;
                border-radius: 50%;
                color: white;
                transition: $my_transition;
                border: 1px solid white;
                &:hover, &:active{
                    color: rgba(106, 62, 49, 0.5);
                    background-color: white;
                }
            }
        }
        .card-slider-value-container{
            width: 40px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .card-slider-value{
                color: white;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    .card-button{
        border-radius: 15px;
        text-transform: none;
        font-weight: 700;
    }
}
.card-pagination{
    .v-pagination__item.v-pagination__item--is-active .v-btn{
        font-weight: 700;
        .v-btn__overlay{
            display: none;
        }
    }
    .v-pagination__item .v-btn{
        font-family: 'Corbel';
        font-weight: 300;
        font-style: normal;
        font-size: 22px;
    }
}
